.red {
  color: red;
}

.capitalize {
  text-transform: capitalize;
}

.Button {
  background-color: #3cba54;
  padding: 16px;
  font: inherit;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.Button:hover {
  background-color: rgb(46, 143, 63);
}

.Button.Red {
  background-color: #db3236;
}

.Button.Red:hover {
  background-color: #c42d30;
}